body {
    background-color: #18335a;
    color: #178b3a;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;
  }
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 16px;
    color: #666;
  }



  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.menu li {
    display: inline-block;
    margin-right: 10px;
  }

  ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }

  ul.menu li a:hover {
    background-color: #333;
    color: #fff;
  }